<h1 style="position: absolute;
           top: 5%;
           left: 55%;
           background: #1e2461;
           width: 32%;
           border-radius: 10px;
           padding: 1%;
           color: white;"
>Login</h1>

<section style="margin-top: 10%;" class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-8 col-lg-5 col-xl-4">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                    class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form>
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <label style="margin-left: 1%; font-weight: 600; font-size: 18.5px;" class="form-label" for="form3Example3">Email address</label>
                        <input type="email" id="form3Example3" class="form-control form-control-lg"
                            placeholder=" " />
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <label style="margin-left: 1%; font-weight: 600; font-size: 18.5px;" class="form-label" for="form3Example4">Password</label>
                        <input type="password" id="form3Example4" class="form-control form-control-lg"
                            placeholder=" " />
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <!-- Checkbox -->
                        <div class="form-check mb-0">
                            <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                            <label class="form-check-label" for="form2Example3">
                                Remember me
                            </label>
                        </div>
                        <a href="#!" class="text-body">Forgot password?</a>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="button" class="btn btn-primary btn-lg" 
                            style="padding-left: 2.5rem; padding-right: 2.5rem; background: #1e2461;">Login</button>
                        <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="#!"
                            routerLink="/signup" routerLinkActive="active"    class="link-danger">Register</a></p>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>